/* Begin Fonts Settings */
/* Roboto */
/* normal */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'),
        local('Roboto-Thin'),
        url(/css/fonts/Roboto-Thin.woff2) format('woff2'),
        url(/css/fonts/Roboto-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
        local('Roboto-Light'),
        url(/css/fonts/Roboto-Light.woff2) format('woff2'),
        url(/css/fonts/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
        local('Roboto-Regular'),
        url(/css/fonts/Roboto-Regular.woff2) format('woff2'),
        url(/css/fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),
        local('Roboto-Medium'),
        url(/css/fonts/Roboto-Medium.woff2) format('woff2'),
        url(/css/fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),
        local('Roboto-Bold'),
        url(/css/fonts/Roboto-Bold.woff2) format('woff2'),
        url(/css/fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'),
        local('Roboto-Black'),
        url(/css/fonts/Roboto-UltraBold.woff2) format('woff2'),
        url(/css/fonts/Roboto-UltraBold.woff) format('woff');
}

/* italic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'),
        local('Roboto-ThinItalic'),
        url(/css/fonts/Roboto_Italic-Thin.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'),
        local('Roboto-LightItalic'),
        url(/css/fonts/Roboto_Italic-Light.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'),
        local('Roboto-Italic'),
        url(/css/fonts/Roboto_Italic-Regular.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'),
        local('Roboto-MediumItalic'),
        url(/css/fonts/Roboto_Italic-Medium.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'),
        local('Roboto-BoldItalic'),
        url(/css/fonts/Roboto_Italic-Bold.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local('Roboto Black Italic'),
        local('Roboto-BlackItalic'),
        url(/css/fonts/Roboto_Italic-UltraBold.woff2) format('woff2'),
        url(/css/fonts/Roboto_Italic-UltraBold.woff) format('woff');
}

/* Roboto Mono */
/* normal */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Mono Thin'),
        local('RobotoMono-Thin'),
        url(/css/fonts/Roboto_Mono-Thin.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Mono Light'),
        local('RobotoMono-Light'),
        url(/css/fonts/Roboto_Mono-Light.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'),
        local('RobotoMono-Regular'),
        url(/css/fonts/Roboto_Mono-Regular.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'),
        local('RobotoMono-Medium'),
        url(/css/fonts/Roboto_Mono-Medium.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'),
        local('RobotoMono-Bold'),
        url(/css/fonts/Roboto_Mono-Bold.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono-Bold.woff) format('woff');
}

/* italic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Mono Thin Italic'),
        local('RobotoMono-ThinItalic'),
        url(/css/fonts/Roboto_Mono_Italic-Thin.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono_Italic-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Mono Light Italic'),
        local('RobotoMono-LightItalic'),
        url(/css/fonts/Roboto_Mono_Italic-Light.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono_Italic-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Mono Italic'),
        local('RobotoMono-Italic'),
        url(/css/fonts/Roboto_Mono_Italic-Regular.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono_Italic-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Mono Medium Italic'),
        local('RobotoMono-MediumItalic'),
        url(/css/fonts/Roboto_Mono_Italic-Medium.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono_Italic-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Mono Bold Italic'),
        local('RobotoMono-BoldItalic'),
        url(/css/fonts/Roboto_Mono_Italic-Bold.woff2) format('woff2'),
        url(/css/fonts/Roboto_Mono_Italic-Bold.woff) format('woff');
}
/* End Fonts Settings */

/* Begin Reset Settings */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    line-height: 1;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
*:focus {
    outline: none;
}
html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
/* End Reset Settings */