<div id="header-content">
    <div id="header-links"></div>
    <div id="header-profile">
        <div id="header-login">
            <div id="header-login-signin" onclick="Auth.open('Login', Selector.id('template-header-auth').innerHTML.trim());">Sign In</div>
            <div id="header-login-signout" onclick="Auth.signOut();">Sign Out</div>
        </div>
    </div>
</div>

<script type="text/html"
        id="template-header-auth"
        data-module="auth"
        data-params='{ onChangeState: function(state) { Selector.id("header-login").className = state; }}'>
</script>