<div id="modal-wrapper">
    <div id="modal">
        <div id="modal-window">
            <h1></h1>
            <div id="modal-close">
                <svg width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#fff" fill-rule="evenodd" d="M0 1.45L1.45 0l9.02 9.02L19.49 0l1.45 1.45-9.02 9.02L21 19.55 19.55 21l-9.08-9.08-9.02 9.02L0 19.49l9.02-9.02L0 1.45z"/>
                </svg>
            </div>
            <div id="modal-content"></div>
        </div>
    </div>
</div>