#auth {
    border: 1px solid #a9a9a9;
    line-height: 30px;
    text-align: right;
    cursor: default;
}
#auth.auth-sign-in > div,
#auth.auth-sign-out > div {
    display: none;
}
#auth > #auth-form-name {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #a9a9a9;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
#auth.auth-sign-in > #auth-sign-in,
#auth.auth-sign-out > #auth-sign-out {
    display: block;
}
#auth-sign-in {
    max-width: 300px;
    margin: auto;
    padding: 20px;
}
#auth-sign-in > #auth-form-wrapper > div > input {
    margin-bottom: 5px;
}
#auth-remember-me {
    cursor: pointer;
}
#auth-sign-out {
    padding: 10px;
    text-align: left;
}