#auth {
    /*width: 340px;*/
    width: 250px;
    border: 1px solid #a9a9a9;
    line-height: 20px;
    /*line-height: 30px;*/
    color: #7b7b7b;
    text-align: left;
    cursor: default;
}
#auth > h2 {
    padding: 10px 20px;
    border-bottom: 1px solid #a9a9a9;
    text-align: left;
}
#auth > div {
    display: none;
}
#auth.sign-in > #auth-sign-in,
#auth.sign-out > #auth-sign-out {
    display: block;
}
#auth-sign-in {
    max-width: 300px;
    margin: auto;
    padding: 20px;
}
#auth-form > div > span {
    font-weight: 600;
}
#auth-sign-in > #auth-form > div > input {
    width: 100%;
    margin-bottom: 5px;
}
#auth-sign-in > .custom-button,
#auth-sign-out > .custom-button {
    width: 100%;
    min-width: 210px;
    margin: 5px 0;
}
#auth-sign-out {
    padding: 10px;
    text-align: left;
}
#auth-checkbox > label,
#auth-remember {
    cursor: pointer;
}
#auth-checkbox > label:hover,
#auth-sign-in > a:hover {
    color: #41b7ef;
}
#auth-sign-in > a {
    color: #7b7b7b;
}