#auth {
    border: 1px solid #a9a9a9;
    line-height: 30px;
    text-align: right;
    cursor: default;
}
#auth > div{
    display: none;
}
#auth > h2 {
    padding: 5px 20px;
    border-bottom: 1px solid #a9a9a9;
    text-align: left;
}
#auth.sign-in > #auth-sign-in,
#auth.sign-out > #auth-sign-out {
    display: block;
}
#auth-sign-in {
    max-width: 300px;
    margin: auto;
    padding: 20px;
}
#auth-sign-in > #auth-form > div > input {
    margin-bottom: 5px;
}
#auth-sign-out {
    padding: 10px;
    text-align: left;
}
#auth-checkbox > label,
#auth-remember{
    cursor: pointer;
}