div[data-type="checkbox"] > label,
div.file-cell > label {
    user-select: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

/* Begin base project style */
#project {
    position: relative;
    line-height: 30px;
    text-align: justify;
    cursor: default;
}
#project-buttons,
#project-menu {
    display: inline-block;
    vertical-align: top;
}
/* End base project style */

/* Begin button */
#project-buttons {
    width: 130px;
    padding-top: 50px;
    margin-right: 20px;
}
#project[data-type="custom"] #project-buttons {
    padding-top: 0;
}
#project-buttons > div {
    width: 130px;
    min-width: 130px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 18px;
}
#project-buttons > .blue-button + .white-button {
    position: relative;
    margin-top: 15px;
}
#project-buttons > .blue-button + .white-button:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    top: -16px;
    left: 0;
    background-color: #a9a9a9;
    pointer-events: none;
    cursor: default;
}
/* End button */

#project-menu {
    min-width: 700px;
}

/* Begin path */
#project-path {
    padding: 10px;
    border: none;
    color: #41b7ef;
}
#project[data-type="custom"] #project-path {
    display: none;
}
#project-path > a {
    color: #41b7ef;
    cursor: pointer;
}
#project-path > a:before {
    content: '/';
    padding-left: 5px;
    padding-right: 5px;
    color: #a9a9a9;
}
#project-path > a:first-child:before {
    content:none;
}
#project-path > a:last-child {
    color: #a9a9a9;
    cursor: default;
    pointer-events: none;
}
#project-path > a:hover {
    color: #54ccf3;
}
/* End path */

/* Begin main info */
#project-info-parent {
    border: 1px solid #a9a9a9;
    color: #7b7b7b;
}
#project-info > li {
    padding-left: 10px;
}
#project-info > li:first-child {
     padding-top: 10px;
}
#project-info > li:last-child {
    padding-bottom: 10px;
}
/* End main info */

/* Begin title table and header table*/
#project-title,
#project-header {
    display: none;
}
#project-title.show,
#project-header.show {
    display: block;
}
#project-title {
    padding: 10px 20px;
    color: #666;
    font-size: 16px;
    text-align: left;
}
#project-header {
    border: 1px solid #dfdfdf;
    line-height: 0;
    text-align: justify;
}
#project-header > div {
    display: inline-block;
    padding: 25px 20px;
    color: #666;
}
#project-header:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}
/* End title table and header table*/

/* Begin table*/
#project-list {
    border: 1px solid #a9a9a9;
    border-top: none;
}
#project-table {
    font-size: 0;
    text-align: center;
}
#project-table > div {
    position: relative;
    height: 60px;
}
#project-table > div.file-row {
    height: auto;
}
#project-table > div > div {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 14px;
}
#project-table > div.file-row > div.file-cell {
    position: static;
    background-color: #fff;
    cursor: default;
}
#project-table > div > div:nth-child(1):nth-last-child(2),
#project-table > div > div:nth-child(2):nth-last-child(1) {
    width: 50%;
}
#project-table > div > div:nth-child(2):nth-last-child(1) {
    left: 50%;
    text-align: right;
}
#project-table > div > div:nth-child(1):nth-last-child(3),
#project-table > div > div:nth-child(2):nth-last-child(2),
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
}
#project-table > div > div:nth-child(2):nth-last-child(2) {
    width: 66.66%;
    left: 33.33%;
}
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
    left: 66.66%;
    text-align: right;
}
#project-table > div[data-type="build"] > div:nth-child(2) {
    pointer-events: none;
}
#project-table > div > div > a,
#project-table > div > div > span {
    display: block;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #54ccf3;
}
#project-table > div[data-type="build"][data-status="success"] > div > a:before,
#project-table > div[data-type="build"][data-status="in_progress"] > div > a:before,
#project-table > div[data-type="build"][data-status="failed"] > div > a:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 27px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#project-table > div[data-type="build"][data-status="success"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAkFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQEAAAAAAAAAAAAAAAAAAAAAAAAAAADOX2MQAAAAL3RSTlMA0cgcjeC7qZ75vrEP2s7ysq1/v5N5SEMyIgUC69XDm4hUOOehcmdRLBe0ooNsJMKD48EAAAErSURBVCjPZdPXmoMgEAXgEwv2GmNN71vP+7/dqgsG47ka5v+ACwY4XMSBTMJobejZJ0yl0cZbDPJT2gr4cS0Z9w7svJRisogqw8omXAplYWPKNOFoKLiXNk/EX8AfcHmmIUt/NMsIgiANvgrL2QC5CNLUOXicndmGLaasNKsFh4h6aQ55cY/uhXTerIsZP8fWs6+6mWU8QOXATLcThZK2g+BJM4O1spxmSONlJmNFG9JETHOykjny+n/Xtm8fWU724Clk0je/uf0YNz8mq3js19v2RnsgWKy0+3bAjR7tEEN22n3weQbuis708bKSxtAz1cCUmuHKDCoZr9ANPu1qLCqb6/d3KEhPuMIji+X7Na7H3t0Gyuaz22m1TX3m/SALfFmvIybTX1nG+QO7fS7jJfpFuwAAAABJRU5ErkJggg);
}
#project-table > div[data-type="build"][data-status="in_progress"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAk1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB6eSN1AAAAMHRSTlMA0cjajR2x9sO+reCeGfG/qQPOtDER1buldzon+reTbFlVSCGhiCUP6edcUUUKmoBTRTtTAAABTElEQVQoz3XSV46DQBBF0UemTY4mOAHOYebtf3VjUItga+5XS0eqUkmNkF+FkPnUAnWebdGURgcfqWQiTQH2ri5z90C+MbkeTeOYAjiE+0ZpWWfIustg2NGWtkzjGRA9fs9U5VMMpqtm33GnhyXwuzbNJPzZcDEzyiKMKTNL1+xbp99WkDf35N7I8MOimMkFfZeEcbSwFYssSquqSqOs4GpuDZM3W5qjWW9I2MxMZQrjug+UYH81kFKdzGAMeNZdUNwtD4hpjNby1O90DuLg9LtObEd7sATwYoGCLwAlH6M9qQOw80ZrchuAzudoHnPA8w8q1YPvATm90SBYofZLW7FLv0ZFgcla2sN92nCfzXZmOHKbwavr2kO25RFzQ8D4jL5zzABLw460tu7WInf4NHTuhuTG7TCZg6kIUw7nf16YK1PId6DRR8j/Cv8A+vgzmfTRxHcAAAAASUVORK5CYII);
}
#project-table > div[data-type="build"][data-status="failed"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAflBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACCtoPsAAAAKXRSTlMA0cgdv4u7sJPas6ie4PNHIhAF+efNxNWroZmBUo4qAqR3aT0zGu55Chk2FywAAAExSURBVCjPddLZboMwFEXRAxibeQgzIXPS9vz/DxYQGFPU/XTRko1lQMhDIZYS+sI2qxMGizHGn2yuSAt4Ru5S9ASaIqDU5lM3PsVERLlanjlLWT4bPNaL7fOZAWLC4572MsrZXFspFajOu7TfwFmqIGj7grs9T/kJOsuwt+SUfB8tJMvIjUp9ZdpuFYWDKUewuu1MscdaT2XawADW13yQpoTiYJjNK1paI0pKZLQ3c1hhuif7J+B9nCo62lK6GDuT9KbBZapt4ANjecliPuyDg7HuMt1KRYtxPk4XY92HzUgWPZxnbPjRBsErRprfWeJKgc1S1ujvmPI61EwNQ8cQayG7/V0L+q95ePkU2Bs8MpGRTEjv+P2yqCBZRBk2i7F1M+aY5j8vVKv07DNByP8KfwFZ0ioc/EyVHAAAAABJRU5ErkJggg);
}
#project-table > div[data-type="file"][data-executable="true"] > div > a:after {
    content: '';
    display: inline-block;
    height: 30px;
    width: 27px;
    margin-left: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAilBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATAggvAAAALXRSTlMAyIysdrJj0r/xHajYnvab4MO7Dfzmz7V8aiPs214UBV2Qg3I+M/OiiG9STi2CkwuFAAABHklEQVQoz4XS2a6CMBSF4VWUQ7G0AjKD4njm9f6vZ9UGDWL8r2i+sNO0heJTCq6QkRSPJZ/0nTHGKEGWzgKg1p5L10CU+UwH6zhkVzGhLTrbNAtXs7oadkxuNqpjA0gmN4s4VACCt9KrecJ3iT2wT+2HWma82HTBG0twqObjqgMSa6riVJWyNvMmzZtdbEchZVqYMiCzsjAykWXkTHMDYME/CP5ABrCtnS25gsxyFvjNcWKK/zBvH+wrEKSHvu/ooylkNNhl5sawXWFL+uOZEW1rHFFaO933qa1VWnOGmugpsdDfcvivue7ziJxL+B36+0yPoc2Y2JBs88wuWmPtzbmo+aTNlTWBbf0xrt5CvLm/+IXFdG/+KRkxhOKr1BmGsDy202pClgAAAABJRU5ErkJggg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#project-table > div:hover > div > span,
#project-table > div:hover > div > a {
    color: #ffffff;
}
#project-table > div > div:hover > span,
#project-table > div > div:hover > a {
    text-decoration: underline;
}
#project-table > div > div.hidden {
    display: none;
}
#project-table > div.file-row > div.file-cell {
    padding: 15px;
    box-sizing: border-box;
}
#project-table > div.file-row > div.file-cell > textarea {
    min-height: 260px;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccd0d2;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    color: #555;
    line-height: 22px;
    resize: vertical;
    background-color: #eee;
    box-shadow: inset 0 1px 1px #ececec;
}
#project-table > div.file-row > div.file-cell > label {
    position: relative;
    display: inline-block;
    height: 24px;
    top: -3px;
    line-height: 24px;
}
#project-table > div.file-row > div.file-cell > label > * {
    display: inline-block;
    vertical-align: middle;
}
#project-table > div.file-row > div.file-cell > .custom-button {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-decoration: none;
}
#project-table > div.file-row > div.file-cell > [data-disabled="disabled"].custom-button {
    background-color: #eee;
    cursor: not-allowed;
}
/* End table*/

/* Begin data entry form */
#project-form {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: 100px;
    background: rgba(255, 255, 255, .5);
}
#project-form.show-modal {
    display: block;
}
#project-form > div {
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a9a9a9;
    background: #ffffff;
    text-align: center;
    color: #a9a9a9;
}
#project-form[data-type="log"] > div {
    max-width: 700px;
}
#project-form-header {
    position: relative;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 16px;
    text-align: justify;
}
#project-form-header > div {
    display: inline-block;
    vertical-align: top;
}
#project-form-close {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
#project-form-close:after {
    content: '+';
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#project-form-close:hover {
    color: #54ccf3;
}
#project-form-data {
    padding: 20px;
}
#project-form-params > div {
    text-align: left;
}
#project-form[data-type="log"] #project-form-params {
    color: #666;
}
#project-form[data-type="log"] #project-form-params > div {
    position: relative;
    padding-left: 270px;
    box-sizing: border-box;
    line-height: 20px;
}
#project-form[data-type="log"] #project-form-params > div + div {
    margin-top: 10px;
}
#project-form[data-type="log"] #project-form-params > div > div {
    display: inline-block;
    line-height: 20px;
    word-break: break-all;
    vertical-align: top;
}
#project-form[data-type="log"] #project-form-params > div > div:nth-child(1),
#project-form[data-type="log"] #project-form-params > div > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    box-sizing: border-box;
}
#project-form[data-type="log"] #project-form-params > div > div:nth-child(2) {
    left: 150px;
}
#project-form-params > div > span {
    display: block;
    font-weight: 900;
}
#project-form-params > div > label,
#project-form-params > div > label > span {
    width: 100%;
}
#project-form-params > div[data-type="checkbox"] {
    margin-top: 10px;
}
#project-form-params > div[data-type="checkbox"] > label > span {
    color: #414141;
}
#project-form-params > div[data-type="checkbox"] > label > * {
    vertical-align: middle;
    cursor: pointer;
}
#project-form-params > div[data-type="checkbox"] > label > input {
    margin: 0;
}
#project-form-button > .custom-button[data-disabled="disabled"] {
    background-color: #eee;
    cursor: not-allowed;
}
#project-form-params > div > input {
    width: 100%;
}
input.hidden {
    display: none;
}
#project-form-params > div > input[type="file"] {
    display: inline-block;
}
#project-form-button > .custom-button {
    width: 100%;
    margin-top: 20px;
}
#project-form-upload {
    margin-top: 20px;
}
#project-form-upload > div {
    display: block;
    border-bottom: 1px solid #a9a9a9;
    font-size: 0;
    text-align: left;
}
#project-form-upload > div:first-child {
    font-weight: 600;
}
#project-form-upload > div > div {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;
    word-wrap: break-word;
}
#project-form-upload > div > div:first-child {
    width: 60%;
}
/* Begin data entry form */