/* Begin base project style */
#project {
    position: relative;
    line-height: 30px;
    text-align: justify;
    cursor: default;
}
#project-buttons,
#project-menu {
    display: inline-block;
    vertical-align: top;
}
/* End base project style */

/* Begin button */
#project-buttons {
    width: 130px;
    padding-top: 50px;
    margin-right: 20px;
}
#project-buttons > button {
    width: 130px;
    min-width: 130px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 18px;
}
/* End button */

#project-menu {
    min-width: 700px;
}

/* Begin path */
#project-path {
    padding: 10px;
    border: none;
    color: #41b7ef;
}
#project-path > a {
    color: #41b7ef;
    cursor: pointer;
}
#project-path > a:before {
    content: '/';
    padding-left: 5px;
    padding-right: 5px;
    color: #a9a9a9;
}
#project-path > a:first-child:before {
    content:none;
}
#project-path > a:last-child {
    color: #a9a9a9;
}
#project-path > a:hover {
    color: #54ccf3;
}
/* End path */

/* Begin main info */
#project-info-parent {
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
}
#project-info > li {
    padding-left: 10px;
}
#project-info > li:first-child {
     padding-top: 10px;
}
#project-info > li:last-child {
    padding-bottom: 10px;
}
/* End main info */

/* Begin title table and header table*/
#project-title,
#project-header {
    display: none;
}
#project-title.project-list,
#project-header.project-list {
    display: block;
}
#project-title {
    padding: 10px 20px;
    color:rgba(0, 0, 0, .6);
    font-size: 16px;
    text-align: left;
}
#project-header {
    border: 1px solid rgba(0, 0, 0, .125);
    line-height: 0;
    text-align: justify;
}
#project-header > div {
    display: inline-block;
    padding: 25px 20px;
    color: rgba(0, 0, 0, .6);
}
#project-header:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}
/* End title table and header table*/

/* Begin table*/
#project-list {
    border: 1px solid #a9a9a9;
    border-top: none;
}
#project-table {
    font-size: 0;
    text-align: center;
}
#project-table > div > div {
    display: inline-block;
    padding: 0;
    font-size: 14px;
}
#project-table > div.one-columns > div {
    width: 100%;
}
#project-table > div.two-columns > div {
    width: 50%;
}
#project-table > div.tree-columns > div {
    width: 33.3%;
}
#project-table > div > div:last-child {
    text-align: right;
}
#project-table > div > div:first-child {
    text-align: left;
}
#project-table > div > div > a,
#project-table > div > div > span {
    display: block;
    height: 100%;
    padding: 15px;
    color: #54ccf3;
}
#project-table > div:hover > div > span,
#project-table > div:hover > div > a {
    color: #ffffff;
}
#project-table > div > div.template-builds-td {
    display: none;
}
/* End table*/

/* Begin data entry form */
#project-form{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: rgba(255, 255, 255, .5);
}
#project-form.project-param {
    display: block;
}
#project-form > div{
    min-width: 400px;
    max-width: 450px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a9a9a9;
    background: #ffffff;
    text-align: center;
    color: #a9a9a9;
}
div#project-form-header {
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 16px;
    text-align: justify;
}
#project-form-header > div {
    display: inline-block;
    vertical-align: top;
}
#project-form-header:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#project-form-close {
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}
#project-form-close:after {
    content: '+';
}
#project-form-close:hover {
    color: #54ccf3;
}
#project-form-param {
    padding: 20px;
}
#project-form-params-block > div {
    text-align: right;
}
#project-form-params-block > div > span {
    font-weight: 900;
}
#project-form-params-block > div > input {
    width: 230px;
    margin: 0 0 5px 5px;
}
input.form-project-list {
    display: none;
}
#project-form-button > button {
    width: 100%;
    margin-top: 10px;
}
/* Begin data entry form */