div[data-type="checkbox"] > label,
div.file-cell > label {
    user-select: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

/* Begin base project style */
#project {
    position: relative;
    padding-left: 150px;
    box-sizing: border-box;
    cursor: default;
}
#project-buttons {
}
/* End base project style */

/* Begin button */
#project-buttons {
    position: absolute;
    width: 130px;
    top: 0;
    left: 0;
    padding-top: 50px;
}
#project[data-type="custom"] #project-buttons {
    padding-top: 0;
}
#project-buttons > div {
    width: 130px;
    min-width: 130px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 18px;
}
#project-buttons > .blue-button + .white-button {
    position: relative;
    margin-top: 15px;
}
#project-buttons > .blue-button + .white-button:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    top: -16px;
    left: 0;
    background-color: #a9a9a9;
    pointer-events: none;
    cursor: default;
}
/* End button */

#project-menu {
    width: 100%;
    line-height: 30px;
}

/* Begin path */
#project-path {
    padding: 10px;
    border: none;
    color: #41b7ef;
    text-align: left;
}
#project[data-type="custom"] #project-path {
    display: none;
}
#project-path > a {
    color: #41b7ef;
    cursor: pointer;
    transition: .2s;
}
#project-path > a:before {
    content: '/';
    padding-left: 5px;
    padding-right: 5px;
    color: #a9a9a9;
}
#project-path > a:first-child:before {
    content:none;
}
#project-path > a:last-child {
    color: #a9a9a9;
    cursor: default;
    pointer-events: none;
}
#project-path > a:hover {
    color: #54ccf3;
}
/* End path */

/* Begin main info */
#project-info-wrapper {
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #a9a9a9;
    color: #7b7b7b;
    text-align: left;
}
#project-info > li {
    padding-left: 10px;
}
#project-info > li:first-child {
     padding-top: 10px;
}
#project-info > li:last-child {
    padding-bottom: 10px;
}
/* End main info */

/* Begin title table and header table*/
#project-title,
#project-header {
    display: none;
}
#project-title.show,
#project-header.show {
    display: block;
}
#project-title {
    padding: 10px 20px;
    color: #666;
    font-size: 16px;
    text-align: left;
}
#project-header {
    border: 1px solid #dfdfdf;
    line-height: 0;
    text-align: justify;
}
#project-header > div {
    display: inline-block;
    padding: 25px 20px;
    color: #666;
}
#project-header:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}
/* End title table and header table*/

/* Begin table*/
#project-list {
    border: 1px solid #a9a9a9;
    border-top: none;
}
#project-table {
    font-size: 0;
    text-align: center;
}
#project-table > div {
    position: relative;
    height: 60px;
}
#project-table > div.file-row {
    height: auto;
}
#project-table > div > div {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 14px;
}
#project-table > div.file-row > div.file-cell {
    position: relative;
    background-color: #fff;
    cursor: default;
}
#project-table > div > div:nth-child(1):nth-last-child(2),
#project-table > div > div:nth-child(2):nth-last-child(1) {
    width: 50%;
}
#project-table > div > div:nth-child(2):nth-last-child(1) {
    left: 50%;
    text-align: right;
}
#project-table > div > div:nth-child(1):nth-last-child(3),
#project-table > div > div:nth-child(2):nth-last-child(2),
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
}
#project-table > div > div:nth-child(2):nth-last-child(2) {
    width: 66.66%;
    left: 33.33%;
}
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
    left: 66.66%;
    text-align: right;
}
#project-table > div[data-type="build"] > div:nth-child(2) {
    pointer-events: none;
}
#project-table > div > div > a,
#project-table > div > div > span {
    display: block;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #54ccf3;
}
#project-table > div[data-type="build"][data-status="success"] > div > a:before,
#project-table > div[data-type="build"][data-status="in_progress"] > div > a:before,
#project-table > div[data-type="build"][data-status="failed"] > div > a:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 27px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#project-table > div[data-type="build"][data-status="success"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAA0lBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA3EUAyz8AAAAAAAAAAAAAAAAAAAAAAAAAzEAAAAAA60sAzEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0kEAAAAAAgAA1kQA0UIAy0AAyj8AAAAAzEAA+VAA800A4UcAzEAA4kcABQIA9k4AyD4DAwMAAAAAzUEAyD4AyT8AAAAAAAAAAAAAzEAAyT8A60kA3UYmiEaPAAAAQXRSTlMA0ciynb+7HYyp89hH382tIvkF4cnDoZOQiH4yHevn4NzQgHhpVFFCOB0aEA397+rKg355dHFnVTgyLCwXFxERD7WoGKUAAAE9SURBVCjPddLpcoIwGIXhIyRRQAF3rfu+dt/3Hmzv/5aKCBG1ff/wMc8kk8wEFk+yEGfTkUa6qk0zNhZwlMEEmQHGIhcnxoBTNKm09akL/wqEoErs08/G+V+RocFqbIf16QMyxMgc6gaAwV0qspxhbqvVG9YIGKpwtkSRB3uWViXoMilrqd1OrVOzyK5oii5pHZtL9yUaXgd0D82jQJKgl7YJlT4PoDhJmcFWYmffixWNvWXpagrO23CZ1ZbnEDfPO7psA03mtU35uP65WADXQecNwIjT1Lombjed0n1QfkdYI7VuSQe42wRB+SO+2lIbJOfAw6a8jmhOib3leQXgqY2oCvMpQ40ekjzWkDZI9mbRMOtR4tBQJ20llE3WcWzwRZFkUfjYWwF/V+D+zVcMaXqmDL/bpEMbFv/L+gW0UT5Q5Yhm+QAAAABJRU5ErkJggg);
}
#project-table > div[data-type="build"][data-status="in_progress"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAhFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8qm6wAAAAK3RSTlMA0cgdsb+ND5+pMd+7rfPYzkQoGcO2Ivmzk1JOSAemiHg+FZw4JufmgGxnbcZkGQAAATdJREFUKM910llygzAQBNAOCCQwBrOv3u1sff/7BRGVIkylP6iBBxIDg4ibRDBJmQWemyqlMMYdXuKRnbE34EuFJuobyFrBxNqONssZ1IzGZOObNHIx9KyMudHWAMGMi2WrNT1TJouFntBRfRhdgM9EiC66t1yteZRH2Lw5Fie/K8VbO5Hv6qw+yOjVDuzkUsiOh7XteZKIr9drDHni3rWB9cxLZqg5OOYxhs8cN+T0EdP7M19vUXIEMLLUm/vWJp4BRIwRL2955mRt4EV3TgFB3f2Fg7WcIfTn9eEzmKuQubWSmT7k0LeV+nJpDQEfKDjKQo4s8NAPW5tYOf1VnByDYi1xK4riBllTwTUEPDyX4nlggLWhJ9PkXqdkv/1/jWpJtqqBNTu725FyZz4Qe2HrjCki/pfoB+OxLtzWAvAAAAAAAElFTkSuQmCC);
}
#project-table > div[data-type="build"][data-status="failed"] > div > a:before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAA2FBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/d3cAAAAAAAD/amoAAAACAAAAAAAAAAAAAAAAAAD/amr/a2sAAAD/g4P/goL/bGz/a2sAAAAAAAAAAAAAAAAAAAAAAAD/a2v/a2v/dXX/ior/a2v/gYH/eHj/iIj/gID/fX3/aWkAAAD/a2v/fHz/amoAAAD/aWn/a2sAAAD/a2sAAAAAAAD/a2v/fX0AAAD/a2sAAAD/amrXexFdAAAARnRSTlMA0cgcsr+NqZ67RyLfxK768tzZzlIGBNXToZmTiPbn4crJo5eUk3dpPTMoERD57ujo5tbS0L29trKrppGDgYB/eS4dFQ8KZJ9XuwAAAU5JREFUKM91ktdywjAQRW9sy3IBU0NoAVLopPfer/7/j7J4HBeYnBftzhnpzmgXmltoJFRZV1aecpVO4ljCBhb/JHeAqecmeFNgr+LQT12NKdKVCE9k4pahnRB+xw5PLCeuSI0hoETGrl5400pKP3au5QhRp+fqd+DVl0Z3Kyy82Vq2smYn5+Y+1/jzbafJgdf3BqTedA0qOy5sxUar4CJ206Auo7xr0sHV6S6EyzNEbOacxQUeTFvkrblBSCtzNhvSjM3o5948xuF26gL2IbwYY44h9BmkrskJhNW5OfmEMGEzd88FsDsybTNcSeUyyOXtiWqbMd7M8Eumm8uD4geu46xnc4EFFTIXsIyjQwjro8wg59DJFg+aneJ/KtZmcTGrUW3OoUfu+97dPtnbnl/oVUhWvBCZKyGjhYwSs50/sJQTOUrONarOKjT/Q/8CckNEMfWpe9cAAAAASUVORK5CYII);
}
#project-table > div[data-type="file"][data-executable="true"] > div > a:after {
    content: '';
    display: inline-block;
    height: 30px;
    width: 27px;
    margin-left: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAMAAADqx5XUAAAAilBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATAggvAAAALXRSTlMAyIysdrJj0r/xHajYnvab4MO7Dfzmz7V8aiPs214UBV2Qg3I+M/OiiG9STi2CkwuFAAABHklEQVQoz4XS2a6CMBSF4VWUQ7G0AjKD4njm9f6vZ9UGDWL8r2i+sNO0heJTCq6QkRSPJZ/0nTHGKEGWzgKg1p5L10CU+UwH6zhkVzGhLTrbNAtXs7oadkxuNqpjA0gmN4s4VACCt9KrecJ3iT2wT+2HWma82HTBG0twqObjqgMSa6riVJWyNvMmzZtdbEchZVqYMiCzsjAykWXkTHMDYME/CP5ABrCtnS25gsxyFvjNcWKK/zBvH+wrEKSHvu/ooylkNNhl5sawXWFL+uOZEW1rHFFaO933qa1VWnOGmugpsdDfcvivue7ziJxL+B36+0yPoc2Y2JBs88wuWmPtzbmo+aTNlTWBbf0xrt5CvLm/+IXFdG/+KRkxhOKr1BmGsDy202pClgAAAABJRU5ErkJggg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#project-table > div:hover > div > span,
#project-table > div:hover > div > a {
    color: #ffffff;
}
#project-table > div > div:hover > span,
#project-table > div > div:hover > a {
    text-decoration: underline;
}
#project-table > div > div.hidden {
    display: none;
}
#project-table > div.file-row > div.file-cell {
    padding: 15px;
    box-sizing: border-box;
}
#project-table > div.file-row > div.file-cell > textarea {
    min-height: 260px;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    color: #555;
    line-height: 1;
    resize: vertical;
    background-color: #eee;
    box-shadow: inset 0 1px 1px #ececec;
}
#project-table > div.file-row > div.file-cell > .CodeMirror {
    max-width: 100%;
    border-radius: 4px;
    line-height: 1;
    resize: vertical;
}
#file-editor-keymap {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    color: rgb(248, 248, 242);
    background-color: #272822;
    opacity: .8;
    z-index: 2;
}
#file-editor-keymap > div {
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: #32cd32;
    text-align: right;
}
#file-editor-keymap > ul {
    height: 0;
    overflow-y: scroll;
    transition: .4s;
}
#file-editor-keymap:hover > ul {
    height: 250px;
}
#file-editor-keymap > ul > li {
    padding: 0 15px 0 10px;
    line-height: 20px;
}
#file-editor-keymap > ul > li:last-child {
    padding-bottom: 5px;
    box-sizing: border-box;
}
#project-table > div.file-row > div.file-cell > label {
    position: relative;
    display: inline-block;
    height: 24px;
    top: -3px;
    line-height: 24px;
}
#project-table > div.file-row > div.file-cell > label > * {
    display: inline-block;
    vertical-align: middle;
}
#project-table > div.file-row > div.file-cell > .custom-button {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-decoration: none;
}
#project-table > div.file-row > div.file-cell > [data-disabled="disabled"].custom-button {
    background-color: #eee;
    cursor: not-allowed;
}
/* End table*/

/* Begin data entry form */
#project-form {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    line-height: 30px;
}
#project-form.show-modal {
    display: block;
}
#project-form > div {
    width: 100%;
    min-width: 350px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    color: #a9a9a9;
}
#project-form[data-type="log"] > div {
    max-width: 700px;
}
#project-form-header {
    position: relative;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 16px;
    text-align: justify;
}
#project-form-header > div {
    display: inline-block;
    vertical-align: top;
}
#project-form-close {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}
#project-form-close:after {
    content: '+';
    display: block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#project-form-close:hover {
    color: #54ccf3;
}
#project-form-data {
    padding: 20px;
}
#project-form-params > div {
    text-align: left;
}
#project-form[data-type="log"] #project-form-params {
    color: #666;
}
#project-form[data-type="log"] #project-form-params > div {
    position: relative;
    padding-left: 270px;
    box-sizing: border-box;
    line-height: 20px;
}
#project-form[data-type="log"] #project-form-params > div + div {
    margin-top: 10px;
}
#project-form[data-type="log"] #project-form-params > div > div {
    display: inline-block;
    line-height: 20px;
    word-break: break-all;
    vertical-align: top;
}
#project-form[data-type="log"] #project-form-params > div > div:nth-child(1),
#project-form[data-type="log"] #project-form-params > div > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    box-sizing: border-box;
}
#project-form[data-type="log"] #project-form-params > div > div:nth-child(2) {
    left: 150px;
}
#project-form-params > div > span {
    display: block;
    font-weight: 900;
}
#project-form-params > div > label,
#project-form-params > div > label > span {
    width: 100%;
}
#project-form-params > div[data-type="checkbox"] {
    margin-top: 10px;
}
#project-form-params > div[data-type="checkbox"] > label > span {
    color: #414141;
}
#project-form-params > div[data-type="checkbox"] > label > * {
    vertical-align: middle;
    cursor: pointer;
}
#project-form-params > div[data-type="checkbox"] > label > input {
    margin: 0;
}
#project-form-button > .custom-button[data-disabled="disabled"] {
    background-color: #eee;
    cursor: not-allowed;
}
#project-form-params > div > input {
    width: 100%;
}
input.hidden {
    display: none;
}
#project-form-params > div > input[type="file"] {
    display: inline-block;
}
#project-form-button > .custom-button {
    width: 100%;
    margin-top: 20px;
}
#project-form-upload {
    margin-top: 20px;
}
#project-form-upload > div {
    display: block;
    border-bottom: 1px solid #a9a9a9;
    font-size: 0;
    text-align: left;
}
#project-form-upload > div:first-child {
    font-weight: 600;
}
#project-form-upload > div > div {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;
    word-wrap: break-word;
}
#project-form-upload > div > div:first-child {
    width: 60%;
}
/* Begin data entry form */