div[data-type="checkbox"] > label,
div.file-cell > label {
    user-select: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

/* Begin base project style */
#project {
    position: relative;
    line-height: 30px;
    text-align: justify;
    cursor: default;
}
#project-buttons,
#project-menu {
    display: inline-block;
    vertical-align: top;
}
/* End base project style */

/* Begin button */
#project-buttons {
    width: 130px;
    padding-top: 50px;
    margin-right: 20px;
}
#project-buttons > div {
    width: 130px;
    min-width: 130px;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    line-height: 18px;
}
#project-buttons > .blue-button + .white-button {
    position: relative;
    margin-top: 15px;
}
#project-buttons > .blue-button + .white-button:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    top: -16px;
    left: 0;
    background-color: #a9a9a9;
    pointer-events: none;
    cursor: default;
}
/* End button */

#project-menu {
    min-width: 700px;
}

/* Begin path */
#project-path {
    padding: 10px;
    border: none;
    color: #41b7ef;
}
#project-path > a {
    color: #41b7ef;
    cursor: pointer;
}
#project-path > a:before {
    content: '/';
    padding-left: 5px;
    padding-right: 5px;
    color: #a9a9a9;
}
#project-path > a:first-child:before {
    content:none;
}
#project-path > a:last-child {
    color: #a9a9a9;
    cursor: default;
    pointer-events: none;
}
#project-path > a:hover {
    color: #54ccf3;
}
/* End path */

/* Begin main info */
#project-info-parent {
    border: 1px solid #a9a9a9;
    color: #7b7b7b;
}
#project-info > li {
    padding-left: 10px;
}
#project-info > li:first-child {
     padding-top: 10px;
}
#project-info > li:last-child {
    padding-bottom: 10px;
}
/* End main info */

/* Begin title table and header table*/
#project-title,
#project-header {
    display: none;
}
#project-title.show,
#project-header.show {
    display: block;
}
#project-title {
    padding: 10px 20px;
    color: #666;
    font-size: 16px;
    text-align: left;
}
#project-header {
    border: 1px solid #dfdfdf;
    line-height: 0;
    text-align: justify;
}
#project-header > div {
    display: inline-block;
    padding: 25px 20px;
    color: #666;
}
#project-header:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
}
/* End title table and header table*/

/* Begin table*/
#project-list {
    border: 1px solid #a9a9a9;
    border-top: none;
}
#project-table {
    font-size: 0;
    text-align: center;
}
#project-table > div {
    position: relative;
    height: 60px;
}
#project-table > div[data-type="file"][data-executable="true"] > div > a:after {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAqFBMVEVCQj4AAABCQj00NDMzMzIyMjI2NjU7Ozc0NDM2NjU+PjkxMTEyMjItLS41NTQzMzM/PzwvLzA5OTYyMjEzMzM3NzU8PDk+PjpAQDwvLy8uLi4xMTA0NDM1NTQ5OTY+Pjk+Pjk/PzstLS0xMTE3NzU4ODU5OTY6OjY9PTlAQDwsLCwuLi42NjU3NzU7Ozc3NzU8PDg8PDg0NDIyMi8tLS4sLC0wMDApKSq5gHkLAAAANHRSTlMDAAWivbCDUqyUL8qm/aauEPpkt5qBNCsO59zUqY1nJyAa9rORbUpAEwvwznpwX1s/O8N2j/AKFAAAAVRJREFUKM9904mOgjAUhWEOII4CKgKKCwLu+zJzW97/zeY2ogg684e0Tb6koWmqqbANHKfDOTzxYKTQHuk6dgdz2Spb+vMhdJViDe0xKkWUt6FxBdsRtDI0jSMNwPTgXoXPJk6C/Q++zhPEoo0qlx6Pbcfl//vIOpC2h5HdhcbVmYPKmL5zGb6Mx+ajCNVeGMAAb92Zw88iMGsFPRSMde4SCSFIqEl9RHnw5BVJKV1PjjxXujx4npRkPrlPkjqZvvE1m3bBIdNTT1L3lYUFa0HJ9gq3A6vr1phaGJ6IgO+cVzOq8xKhLyaAwRz6dRYhZsYYmyMmU8xi+cpqL7OZXJzNntbxpJncmBvlwYSU6rSSpOSRV5WDpXtBzByJe0T5pWD2bH1r1hrgeSU6sEI9TS8vdDDa/nvfdvSBp8wc8xgfmi5QPKKJH1q1QkucmVXInMZ7fdZfOIQtMqvddFYAAAAASUVORK5CYII);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#project-table > div.file-row {
    height: auto;
}
#project-table > div > div {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 14px;
}
#project-table > div.file-row > div.file-cell {
    position: static;
    background-color: #fff;
    cursor: default;
}
#project-table > div > div:nth-child(1):nth-last-child(2),
#project-table > div > div:nth-child(2):nth-last-child(1) {
    width: 50%;
}
#project-table > div > div:nth-child(2):nth-last-child(1) {
    left: 50%;
    text-align: right;
}
#project-table > div > div:nth-child(1):nth-last-child(3),
#project-table > div > div:nth-child(2):nth-last-child(2),
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
}
#project-table > div > div:nth-child(2):nth-last-child(2) {
    width: 66.66%;
    left: 33.33%;
}
#project-table > div > div:nth-child(3):nth-last-child(1) {
    width: 33.33%;
    left: 66.66%;
    text-align: right;
}
#project-table > div[data-type="build"] > div:nth-child(2) {
    pointer-events: none;
}
#project-table > div > div > a,
#project-table > div > div > span {
    display: block;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #54ccf3;
}
#project-table > div:hover > div > span,
#project-table > div:hover > div > a {
    color: #ffffff;
}
#project-table > div > div:hover > span,
#project-table > div > div:hover > a {
    text-decoration: underline;
}
#project-table > div > div.hidden {
    display: none;
}
#project-table > div.file-row > div.file-cell {
    padding: 15px;
    box-sizing: border-box;
}
#project-table > div.file-row > div.file-cell > textarea {
    min-height: 260px;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccd0d2;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    color: #555;
    line-height: 22px;
    resize: vertical;
    background-color: #eee;
    box-shadow: inset 0 1px 1px #ececec;
}
#project-table > div.file-row > div.file-cell > label {
    position: relative;
    display: inline-block;
    height: 24px;
    top: -3px;
    line-height: 24px;
}
#project-table > div.file-row > div.file-cell > label > * {
    display: inline-block;
    vertical-align: middle;
}
#project-table > div.file-row > div.file-cell > .custom-button {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    text-decoration: none;
}
#project-table > div.file-row > div.file-cell > [data-disabled="disabled"].custom-button {
    background-color: #eee;
    cursor: not-allowed;
}
/* End table*/

/* Begin data entry form */
#project-form {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: 100px;
    background: rgba(255, 255, 255, .5);
}
#project-form.show-modal {
    display: block;
}
#project-form > div {
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a9a9a9;
    background: #ffffff;
    text-align: center;
    color: #a9a9a9;
}
#project-form[data-type="log"] > div {
    max-width: 650px;
}
#project-form-header {
    position: relative;
    height: 30px;
    padding: 10px;
    border-bottom: 1px solid #a9a9a9;
    font-size: 16px;
    text-align: justify;
}
#project-form-header > div {
    display: inline-block;
    vertical-align: top;
}
#project-form-close {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#project-form-close:after {
    content: '+';
}
#project-form-close:hover {
    color: #54ccf3;
}
#project-form-data {
    padding: 20px;
}
#project-form-params > div {
    text-align: left;
}
#project-form[data-type="log"] #project-form-params {
    color: #666;
}
#project-form[data-type="log"] #project-form-params > div {
    position: relative;
    padding-left: 150px;
    box-sizing: border-box;
    line-height: 20px;
}
#project-form[data-type="log"] #project-form-params > div + div {
    margin-top: 10px;
}
#project-form[data-type="log"] #project-form-params > div > div {
    display: inline-block;
    line-height: 20px;
    word-break: break-all;
    vertical-align: top;
}
#project-form[data-type="log"] #project-form-params > div > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
}
#project-form-params > div > span {
    display: block;
    font-weight: 900;
}
#project-form-params > div > label,
#project-form-params > div > label > span {
    width: 100%;
}
#project-form-params > div[data-type="checkbox"] {
    margin-top: 10px;
}
#project-form-params > div[data-type="checkbox"] > label > span {
    color: #414141;
}
#project-form-params > div[data-type="checkbox"] > label > * {
    vertical-align: middle;
    cursor: pointer;
}
#project-form-params > div[data-type="checkbox"] > label > input {
    margin: 0;
}
#project-form-button > .custom-button[data-disabled="disabled"] {
    background-color: #eee;
    cursor: not-allowed;
}
#project-form-params > div > input {
    width: 100%;
}
input.hidden {
    display: none;
}
#project-form-params > div > input[type="file"] {
    display: inline-block;
}
#project-form-button > .custom-button {
    width: 100%;
    margin-top: 20px;
}
#project-form-upload {
    margin-top: 20px;
}
#project-form-upload > div {
    display: block;
    border-bottom: 1px solid #a9a9a9;
    font-size: 0;
    text-align: left;
}
#project-form-upload > div:first-child {
    font-weight: 600;
}
#project-form-upload > div > div {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;
    word-wrap: break-word;
}
#project-form-upload > div > div:first-child {
    width: 60%;
}
/* Begin data entry form */